
#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        " main ",
        " work ",
        " anime ",
        " discord ",
        " others ",
        " files ",
    ],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        MainAndHorizontalStack,
        MainAndDeck,
        GridHorizontal,
        EvenHorizontal,
        EvenVertical,
        Fibonacci,
        LeftMain,
        CenterMain,
        CenterMainBalanced,
        CenterMainFluid,
        Monocle,
        RightWiderLeftStack,
        LeftWiderRightStack,
    ],
    layout_mode: Workspace,
    insert_behavior: Bottom,
    scratchpad: [],
    window_rules: [],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    sloppy_mouse_follows_focus: true,
    keybind: [
        
        (command: CloseWindow, value: "", modifier: ["modkey"], key: "w"),
        (command: SoftReload, value: "", modifier: ["modkey", "Control"], key: "r"),
        
        (command: ToggleFullScreen, modifier: ["modkey"], key: "f"),
        (command: FloatingToTile, modifier: ["modkey"], key: "e"),

        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "j"),
        (command: MoveWindowTop, value: "", modifier: ["modkey", "Shift"], key: "m"),

        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "k"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "j"),

        (command: NextLayout, value: "", modifier: ["modkey"], key: "Tab"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Shift"], key: "Tab"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "period"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "comma"),

        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),

        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),

        (command: IncreaseMainWidth, value: "1", modifier: ["modkey", "Shift"], key: "l"),
        (command: DecreaseMainWidth, value: "1", modifier: ["modkey", "Shift"], key: "h"),

        // Executes Rofi
        (command: Execute, value: "dmenu_run", modifier: ["modkey"], key: "m"),
        // Opens terminal
        (command: Execute, value: "kitty", modifier: ["modkey"], key: "Return"),
        // Takes screenshot
        (command: Execute, value: "flameshot gui", modifier: ["modkey"], key: "s"),
        // Shows current date
        (command: Execute, value: "~/.config/leftwm/scripts/timenotify", modifier: ["modkey"], key: "t"),

        // Redshift
        (command: Execute, value: "redshift -O 4000", modifier: ["modkey"], key: "r"),
        (command: Execute, value: "redshift -x", modifier: ["modkey", "Shift"], key: "r"),
    
        //Open the browser
        (command: Execute, value: "brave", modifier: ["modkey"], key: "b"),

        // Switch between keyboard layouts (US, ES)
        (command: Execute, value: "~/.config/leftwm/scripts/xkbmap", modifier: ["modkey"], key: "space"),
       

        //if you have a keyboard with backlights, you can on it using this  
        (command: Execute, value: "xset led 3", modifier: ["modkey"], key: "p"),

        //off lights in the keyboard
        (command: Execute, value: "xset -led 3", modifier: ["modkey", "Shift"], key: "p"),
        
        //this is for logout and other options
        (command: Execute, value: "archlinux-logout", modifier: ["modkey"], key: "l"),

    ],
    state_path: None,
)
